.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #25e318;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Set default font and color for the whole app */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Style the form inputs */
form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the form button */
form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the table */
table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

/* Style the table headers */
table th {
  background-color: #30c6bc;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  text-align: left;
}

/* Style the table rows */
table td {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

/* Style the table odd rows */
table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}
